{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Confirmation de commande{% endblock %}

{% block body %}

    <div class="row"><p> </p></div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <div class="card bg-success border-success">
                <div class="card-header">
                   <h4 class="card-title  display-4"> Votre commmande est confirmé</h4>
                </div>
                <div class="card-body text-white">
                    <p class="card-text">
                        Vous venez de recevoir votre commande par mail.<br>
                        <a href="{{ path('home') }}"> Retour vers la page d'accueil </a>
                    </p>
                    <h4 class="display-4">
                        À bientot!
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
    </div>

{% endblock %}