



body {
    /* BackGround image from DBUK on pixabay*/
    background: url('../image/louvre-grande-galerie-aile-denon.jpg');
    background-image: url("../image/louvre-grande-galerie-aile-denon.jpg");
    background-size: 100% auto;
    background-position: center top;
    background-size: cover;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.subtlePatterns {
    /* Background pattern from Toptal Subtle Patterns */
    background: url('../image/oriental.png');
    background-image: url("../image/oriental.png");
}

.flatpickr {
    border: 1px solid #c3c3c3;
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    background: #fff;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
}


/* Table command */
@media only screen and (max-width: 992px){

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {

        border: none;

        position: relative;
        padding-left: 50%;
        line-height:2em;
    }

    td:before {

        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }


    td:nth-of-type(1):before {
        content: "Date:";
        font-weight: bold;
    }
    td:nth-of-type(2):before {
        content: "Évènement: ";
        font-weight: bold;
    }
    td:nth-of-type(3):before {
        content: "Description: ";
        font-weight: bold;
        text-align:right;
    }
}