{% extends 'base.html.twig' %}

{% block title %}Mais paye!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stripe.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_mWgQQAPHImzZrSGV0J5xK9Nj"
                    data-amount="2000"
                    data-name="TestStripe"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-currency="eur">
            </script>
        </form>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://js.stripe.com/v3/"></script>

{% endblock %}