{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="container">
            <div class="container p-3">
                <h1 class="text-center text-primary">Muséum central des arts de la République</h1>

                <img src="/../image/louvre_10.jpg" class="img-responsive img-thumbnail" alt="Photo by Free-Photos, on pixabay.com" >

                <h2 class="text-center text-primary p-3">Le Louvre</h2>
                <div class="textBody text-center">

                    <p class="text-primary pb-3">
                        Bienvenue sur l'application de billetterie du Louvre

                        </br>

                        Pour réserver rendez-vous dans l'onglet <a href="{{ path('command') }}" class="text-warning">Billetterie</a>
                    </p>

                </div>
            </div>
        </div>

    </div>

{% endblock %}