{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="container">

            <h1 class="text-center text-primary">Muséum central des arts de la République</h1>

            <img src="/../image/louvre_10.jpg" class="img-responsive img-thumbnail" alt="Photo by Free-Photos, on pixabay.com" >

        </div>
    </div>

{% endblock %}