{% extends 'base.html.twig' %}

{% block body %}

    <div class="container p-3 text-primary">


        <h1 class="text-center text-primary">Muséum central des arts de la République</h1>

        
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10 bg-light">
                <h2 class="text-primary p-3">Informations pratiques</h2>
                <h3>
                    Horaires
                </h3>
                <p class="lead text-justify">
                    Le musée du Louvre est ouvert tous les jours, sauf les mardis et les 1er Novembre, 1er mai et 25 décembre, de 9h à 18h, jusqu'à 21h45 les mercredis et vendredis, à l’exception des jours fériés. La fermeture des salles débute à 17h30 et à 21h30 les mercredis et vendredis.
                    Nocturne gratuite le premier samedi du mois de 18h à 21h45 à partir de janvier 2019.
                </p>
                <p class="lead">
                    - Lundi : 9h - 18h <br>
                    - Mardi : Fermé <br>
                    - Mercredi : 9h - 21h45 <br>
                    - Jeudi : 9h - 18h <br>
                    - Vendredi : 9h -21h45 <br>
                    - Samedi : 9h - 18h <br>
                    - Dimanche : 9h - 18h <br><br>

                    La fermeture des salles débute à 17 h 30 ou 21 h 30 les jours de nocturne.
                </p>
                <h3 class="text-primary">
                    Tarif
                </h3>
                <p class="lead">
                    - Enfant de moins de 4 ans : Gratuit <br>
                    - Enfant (4 ans à 11 ans) : 8€ <br>
                    - Adulte (12 ans à 59 ans) : 16€ <br>
                    - Sénior (à partir de 60 ans) : 12€ <br>

                    Tarif réduit : 10€ (étudiants, militaire,...) sur présentation d'un justificatif.<br>
                </p>

                <p class="lead text-justify">
                    Le billet acheté en ligne est horodaté et nominatif, un document d’identité peut être demandé.
                    Il est valable exclusivement pour la prestation, la date et à compter de l'heure mentionnée. Il ne constitue pas un coupe file mais permet un accès à la pyramide du Louvre dans la demi-heure de l'horaire indiqué. En cas de non-respect de ce créneau horaire, le porteur du billet print@home est soumis aux mêmes conditions d'accès et d'attente que les visiteurs sans billet.

                    Les conditions d’accès des visiteurs munis d’un e-ticket s’appliquent également aux visiteurs bénéficiant d'un accès libre qui les accompagnent
                </p>
            </div>
            <div class="col-sm-1">

            </div>
        </div>

    </div>


{% endblock %}